$color-primary: #6823BF;
$color-black: #101112; 

$color--white: #FFFFFF;
$color-grey-dark: #777;
$color-dark: #120037;
$color--red: #FF6060;

$background-primary: #200064;
$background-white: #FFFFFF;
$background-white-dark: #E8E8E8;
$background-white-light: #F9FAFB;

$background-secondary: #EBEAF7;
$background-ternary: #EBEAF7;