.header {
  height: 5rem;
  background: $color-primary;
  border: 1px solid $color-black;
  position: relative;

  &__logo {
    position: absolute;
    transform: scale(0.4);
    top: -38%;
    left: -3%;
  }
}
