.topbar {
    border-bottom: 0.3px solid #EBEAF7;
    height: 85px;
    &__contain{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__title { 
        font-size: 28px;
        line-height: 36.4px;
        font-weight: 700;
        color: $background-primary;

        span{
           font-weight: 400;  
        }
    }
}
.topbar__player-detail{
    display: flex;
    align-items: center;
    span{
        font-weight: 700;
        margin-left: 8px;
    }
    .topbar__playerID{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 750px;
        display: inline-block;
        font-weight: 400;
    }
}

