.account-badge {
  width: 280px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color--white;

  border: 1px solid $color-primary;
  border-radius: 24px;
  padding: 6px;
  cursor: pointer;

  &__amount-token{
    color: $color-primary;
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    text-indent: -15px;
  }

  &__token-id {
    display: inline-block;
    width: 94px;
    height: 33px;

    background: $color-primary;
    border-radius: 24px;
    
    text-align: center;
    color: $color--white;
    font-size: 12px;
    font-weight: 600;
    line-height: 33px;
  }

  svg {
    color: $color--red;
  }

  &__title {
    color: $color-primary;
    line-height: 32px;
    font-size: 14px;

    .token-id {
      background: $color-primary;
      color: $color--white;
      width: 94px;
      height: 30px;
      border-radius: 24px;
      display: inline-block;
      text-align: center;
    }
  }
}
