.card {
    background: $color--white;
    width: 21.375rem;
    height: 491px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__header {

    }

    &__content {

    }

    &__actions {

    }
}