.card {
  background: $color--white;
  width: 21.375rem;
  height: 300px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__header {
    height: 65px;
    background: $background-primary-light;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.15008px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    &--title {
      text-transform: uppercase;
      background: $color--white;
      border: 1px solid #DFDFDF;
      border-radius: 4px;
      width: 116px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {

    &--item {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      border-bottom: 1px solid $background-primary-dark;
    }
  }

  &__actions {
  }
}
