.dropdown {
  font-size: 14px;
  position: relative;
  cursor: pointer;

  &__btn {
    border: 1px solid #9F99B3;
    border-radius: 32px;
    box-sizing: border-box;
    padding: 7px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    color: #120037;
    line-height: 24px;
  }

  &__content {
    $range: 12px;

    position: absolute;
    top: calc(100% + $range);

    width: 100%;
    background: $color--white;
    border: 1px solid #dfdfdf;
    border-radius: 16px;
    padding: 10px 20px;

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15008px;

    &-item {
      font-size: 16px;
      line-height: 24px;
      color: #9F99B3;
      padding: 7px 0;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        font-weight: 600;
        color: #120037;
      }
    }
  }
}
