.catalog {
  margin-top: 23px;
  
  .form-content > div >input{
    width: 100%;
  }
  .form-content > div:not(.form-actions){
    margin-bottom: 20px;
  }
}

.form-content{
  div > input{
    width: 100%;
  }

  div:not(.form-actions, .tooltip){
    margin-bottom: 20px;
  }

  .form-actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    button{
      width: 140px;
      height: 40px;
      font-size: 13px;
      line-height: 33px;
    }

    .btn-main--outline{
      margin-right: 12px;
      color: $color-primary;
    }
  }
}

.game-label{
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  h5{
    margin-right: 8px;

    font-size: 14px;
    font-weight: 400;
    color: #9F99B3;
  }
}