.catalog {
  margin-top: 23px;
  
  .form-content > div >input{
    width: 100%;
  }
  .form-content > div:not(.form-actions){
    margin-bottom: 20px;
  }

  .accordion-list {
    width: 94%;
    margin: 0 auto;
    padding: 14px 0;
  }
}

.form-content{
  div > input{
    width: 100%;
  }

  div:not(.form-actions, .tooltip){
    margin-bottom: 20px;
  }

  .form-actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    button{
      width: 140px;
      height: 40px;
      font-size: 13px;
      line-height: 33px;
    }

    .btn-main--outline{
      margin-right: 12px;
      color: $color-primary;
    }
  }
}

.accordion-list {
  form {
    display: flex;
    margin: 0 auto;
    width: 95%;
    height: 100%;
    flex-direction: column;
    padding: 10px 0;

    .form-actions {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 60px;

      button {
        width: 80px;
        height: 37px;
        margin-left: 8px;
      }
    }
  }
}

.game-label{
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  h5{
    margin-right: 8px;

    font-size: 14px;
    font-weight: 400;
    color: #9F99B3;
  }
}