.container {
  height: calc(100vh - 5rem);
  position: relative;
  background-color: $background-secondary;
}

.heading-primary {
  color: $color-black;
  text-align: center;
  @include absCenter;

  &--main {
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 12px;
  }

  &--sub {
    margin-bottom: 10px;
    font-size: 15px;
  }

  &--btn {
    color: $color--white;
    background: $color-primary;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 30.625rem;
    height: 3.125rem;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.39998px;
    line-height: 24px;
    border: none;
    cursor: pointer;
  }
}

.wallet-list {
  width: 25.313rem;
  height: 26.313rem;
  border: 1px solid $color-primary;
  border-radius: 4px;
  @include absCenter;

  &--heading {
    height: 5.813rem;
    border-bottom: 1px solid $color-primary;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--main {
    height: calc(100% - 5.813rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.wallet-item {
  background: $color--white;
  width: 22.438rem;
  height: 4.438rem;
  border: 1px solid rgba(19, 0, 50, 0.5);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 11px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
  }

  &__logo {
    img {
      width: 34px;
      height: 34px;
    }
  }
}
