.card-custom{
    margin-bottom: 38px;
 }
 
 .card__display{
 
     .card__body > div{
         margin-bottom: 20px;
     }
     .card__body > div > label{
         font-size: 14px;
         color: #9F99B3;
         line-height: 150%;
         
         display: block;
         margin-bottom: 12px;
     }
 
     input{
         width: 100%;
     }
 }
 
 .player__info{
     margin-bottom: 40px;
 
     .info__tabs{
         display: flex;
         align-items: center;
         border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
         padding: 10px;
         margin-bottom: 15px;
 
         p{
             margin-right: 40px;
             font-size: 19px;
             line-height: 30px;
             cursor: pointer;
         }
     }
 }